nav {
  padding: 15px 25px;
  color: $purple;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  @media #{ $medium-up } {
    padding: 40px 100px;
  }
  & .nav-list {
    display: flex;
    & li {
      margin: 0 30px;
    }
  }
  & .auth-links a:last-child {
    margin-left: 45px;
  }
}
