.auth {
  &-page {
    display: flex;
    justify-content: space-between;
    max-height: 85vh;
    & img {
      max-width: 50vw;
      max-height: 100%;
      object-fit: cover;
    }
  }
  &-form {
    max-width: 550px;
    flex-grow: 1;
    padding: 0 40px 0 100px;
    & h1 {
      margin: 20px 0;
      color: $purple;
    }
    & p {
      margin-bottom: 20px;
    }
    & input,
    button {
      width: 100%;
    }
  }
}
