.auth {
    &-page {
        display: flex;
        justify-content: flex-end;
        height: 100vh;
    }
    &-form {
        width: 45vw;
        & input, button {
            width: 100%;
        }
    }
    &-image {
        max-height: 100%;
        & img {
            max-height: 100%;
            object-fit: cover;
        }
    }
}