@import './utils.scss';

@import './components/ui.scss';
@import './components/layout/navbar.scss';

@import './pages/auth.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $black;
    font-family: $roboto;
}